{% extends "base.html" %}

{% block title %}
Contact Page
{% endblock  %}

{% block start %}
<h1>Contact Us</h1>
<p>
    
    Have any questions or need assistance? We're here to help! Feel free to reach out to us using the contact information below:

    <p>Phone: +****8</p>
    <p>Email: <a href="#"> topbooking0@gmail.com </a></p>
    <p>Address: 5400 LBJ Freeway, Suite 500, Dallas, Texas 75240, USA</p>

    We look forward to hearing from you and assisting you with any inquiries or requests you may have! 
</p>
{% endblock  %}